.vue-app {
  #wpData {
    display: none;
  }
  margin: 10px auto;
  button {
    outline: 0;
    transition: all 0.3s ease;
    margin: 0 10px;
    font-size: 18px;
    &.only-icon {
      margin: 0 1px;
      background-color: transparent;
      padding: 0;
    }
    &.cta {
      background-color: var(--brand);
    }
    &:disabled {
      background-color: var(--grey2);
    }
  }
  .circle {
    display: inline-block;
    padding: 6px 10px;
    background-color: var(--grey3);
    border-radius: 50%;
    margin-left: 6px;
  }

  // pricing-switcher =======================================
  .pricing-switcher {
    color: var(--grey7);

    $bg-padding: 5px;
    $button-width: 100px;
    $button-height: 35px;
    $animation-time: 0.3s;

    text-align: center;

    .fieldset {
      display: inline-block;
      position: relative;
      padding: $bg-padding;
      border-radius: 50em;
      background-color: var(--grey3);
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }

    label {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 0;
      float: left;
      width: $button-width;
      height: $button-height;
      line-height: $button-height;
      cursor: pointer;
      color: var(--grey8);
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      transition-delay: 0.1s;
      transition: color $animation-time ease;
      &.active {
        color: var(--grey3);
        // font-weight: 700;
      }
    }

    .switch {
      /* floating background */
      position: absolute;
      top: $bg-padding;
      left: $bg-padding;
      height: $button-height;
      width: $button-width;
      background-color: var(--grey7);
      border-radius: 50em;
      transition: all $animation-time;
      &.move {
        background-color: var(--brand);
        transform: translateX($button-width);
      }
    }
  }

  // meal-section ==================================================
  .meal-section {
    margin-top: 15px;
    .section-title {
      color: var(--grey5);
      padding-left: 10px;
      margin: 0;
    }
    .section-details {
      margin: 6px auto 20px;
      width: 100%;
      min-height: 50px;
      background-color: var(--grey1);
      box-shadow: var(--shaddow);
      border-top: 2px solid var(--grey5);
    }
  }

  // food-component =================================================
  .food-component {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-bottom: 5px solid var(--grey3);
    transition: all 0.3s ease-in;
    .component-title {
      flex: 1 0;
      min-width: 160px;
      margin-right: 16px;
      h5 {
        margin-bottom: 6px;
      }
      .component-desc {
        color: var(--grey5);
        margin: 0;
        line-height: 1;
      }
    }
    .component-details {
      flex: 4 1;
      margin-right: 16px;
    }
    .component-pills {
      flex: 1 1;
    }
  }

  .food-line {
    margin: 6px 0;
  }

  // food-dropdown ===================================================
  .dropdown-wrapper {
    position: relative;
    white-space: nowrap;
    .dropdown {
      display: inline-block;
      background-color: var(--grey3);
      border: 1px solid transparent;
      border-radius: 8px;
      width: 220px;
      padding: 4px 10px;
      margin-right: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in;
      &:hover {
        border-color: var(--brand2);
      }
      .arrow-down-icon {
        color: var(--brand);
        float: right;
      }
    }

    .dropdown-options {
      transform-origin: top center;
      width: fit-content;
      min-width: 220px;
      position: absolute;
      z-index: 100;
      background-color: var(--grey3);
      padding: 2px 5px;
      border-radius: 12px;
      box-shadow: var(--shaddow);
      // dropdown-item ===============================================
      .dropdown-item {
        display: flex;
        align-items: center;
        margin: 4px 0;
        padding: 4px 20px;
        border-radius: 8px;
        cursor: pointer;
        background-color: var(--grey1);
        width: auto;
        user-select: none;
        &:hover {
          background-color: var(--grey2);
        }
        &:active {
          color: inherit;
        }
        img {
          width: 70px;
          border-radius: 50%;
          float: left;
          margin-right: 30px;
          margin-left: -16px;
        }
        h5 {
          margin: 0;
        }
      }
    }
  }

  // pill ====================================================
  .pill {
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 4px;
    margin: 8px 5px 5px 0;
    white-space: nowrap;
    float: right;
    &.green {
      background-color: var(--green1);
      color: var(--green5);
    }
    &.red {
      background-color: var(--red1);
      color: var(--red);
    }
  }

  .summary {
    margin: 30px 0;
    padding: 8px;
    border-top: 2px solid var(--grey3);
    border-bottom: 2px solid var(--grey3);
    font-size: 22px;
    display: flex;
    align-items: center;
    .spacer {
      flex: 2 1;
    }
    .total {
      color: var(--grey5);
      b {
        color: var(--grey8);
      }
    }
    button {
      padding: 2px 16px;
    }
  }
}

// transitions ===========================================
.slide-in-enter-active,
.slide-in-leave-active {
  transition: all 0.3s;
}
.slide-in-enter, .slide-in-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scaleY(0.2);
}
