.vue-app {
  margin: 0 auto;
}

.vue-app #wpData {
  display: none;
}

.vue-app .package-wrapper {
  margin: 0 auto 60px;
  background-color: var(--grey2);
  border-radius: 8px;
  position: relative;
}

.vue-app .package-wrapper img.package-image,
.vue-app .package-wrapper .wp-post-image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px 8px 0 0;
}

.vue-app .package-wrapper .pill.stock-alert {
  position: absolute;
  top: 2px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vue-app .package-wrapper .pill.stock-alert .icon {
  height: 1.2em;
  padding-left: 0;
  padding-right: 8px;
}

.vue-app .package-wrapper .pill.stock-alert .icon .primary {
  fill: var(--red5);
}

.vue-app .package-wrapper .pill.stock-alert .icon .secondary {
  fill: var(--red1);
}

.vue-app .package-wrapper .package-info {
  text-align: center;
}

.vue-app .package-wrapper .package-info .package-title {
  margin: -25px auto 10px;
}

.vue-app .package-wrapper .package-info .package-title span {
  display: inline-block;
  padding: 0px 20px 11px;
  border-radius: 8px;
  background-color: var(--grey2);
  line-height: 0.8;
  font-size: 4rem;
}

.vue-app button {
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 10px;
  font-size: 18px;
}

.vue-app button.only-icon {
  margin: 0 1px;
  background-color: transparent !important;
  padding: 0;
}

.vue-app button.cta {
  background-color: var(--brand);
}

.vue-app button:disabled {
  background-color: var(--grey2);
}

.vue-app .circle {
  display: inline-block;
  padding: 6px 10px;
  background-color: var(--grey3);
  border-radius: 50%;
  margin-left: 6px;
}

.vue-app .pricing-switcher {
  color: var(--grey7);
  text-align: center;
}

.vue-app .pricing-switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 5px;
  border-radius: 50em;
  background-color: white;
}

.vue-app .pricing-switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.vue-app .pricing-switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  float: left;
  width: 100px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  color: var(--grey8);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.vue-app .pricing-switcher label.active {
  color: var(--grey3);
}

.vue-app .pricing-switcher .switch {
  /* floating background */
  position: absolute;
  top: 5px;
  left: 5px;
  height: 35px;
  width: 100px;
  background-color: var(--brand);
  border-radius: 50em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.vue-app .pricing-switcher .switch.move {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.vue-app h4.top-summary {
  text-align: center;
  margin: 25px auto;
  font-family: jubilat, lato, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vue-app h4.top-summary .total {
  float: none;
}

.vue-app .meal-section {
  margin-top: 25px;
}

.vue-app .meal-section .section-title {
  color: var(--grey7);
  padding-left: 20px;
  font-family: jubilat;
  font-weight: 100;
  margin: 0;
}

.vue-app .meal-section .section-details {
  margin: 6px auto 20px;
  width: 100%;
  min-height: 50px;
  background-color: var(--grey1);
  border-bottom: 2px solid var(--grey3);
  border-top: 2px solid var(--grey5);
}

.vue-app .meal-section .section-details .empty {
  color: var(--grey4);
  padding: 15px 0;
  text-align: center;
}

.vue-app .food-component {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
  border-bottom: 2px solid var(--grey3);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.vue-app .food-component .component-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  min-width: 160px;
  margin-right: 16px;
}

.vue-app .food-component .component-title h5 {
  margin-bottom: 6px;
}

.vue-app .food-component .component-title .component-desc {
  color: var(--grey5);
  margin: 0;
  line-height: 1;
}

.vue-app .food-component .component-details {
  -webkit-box-flex: 4;
      -ms-flex: 4 1;
          flex: 4 1;
  margin-right: 16px;
}

.vue-app .food-component .component-pills {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.vue-app .food-line {
  margin: 6px 0;
}

.vue-app .dropdown-wrapper {
  position: relative;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.vue-app .dropdown-wrapper .dropdown {
  display: inline-block;
  background-color: var(--grey3);
  border: 1px solid transparent;
  border-radius: 8px;
  width: 220px;
  padding: 4px 20px 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.vue-app .dropdown-wrapper .dropdown:hover {
  border-color: var(--brand2);
}

.vue-app .dropdown-wrapper .dropdown .arrow-down-icon {
  color: var(--brand);
  position: absolute;
  right: 3px;
  top: 3px;
}

.vue-app .dropdown-wrapper .dropdown.noSelection {
  color: var(--grey5);
  background-color: var(--grey1);
}

.vue-app .dropdown-wrapper input.qty {
  height: 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45px;
          flex: 0 1 45px;
  margin-right: 6px;
  padding: 2px 4px;
  border-color: var(--grey4);
}

.vue-app .dropdown-wrapper .dropdown-options {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 220px;
  position: absolute;
  top: 35px;
  z-index: 100;
  background-color: var(--grey3);
  padding: 0 4px;
  border-radius: 12px;
  -webkit-box-shadow: var(--shaddow-hover);
          box-shadow: var(--shaddow-hover);
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 0;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--grey1);
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item:hover {
  background-color: var(--grey2);
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item:active {
  color: inherit;
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item img {
  width: 60px;
  float: left;
  margin-right: 6px;
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item .info {
  padding: 5px 10px;
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item .info h5,
.vue-app .dropdown-wrapper .dropdown-options .dropdown-item .info p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.vue-app .pill {
  font-size: 12px;
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 4px;
  margin: 8px 5px 5px 0;
  white-space: nowrap;
  float: right;
  text-decoration: none;
}

.vue-app .pill.green {
  background-color: var(--green1);
  color: var(--green5);
}

.vue-app .pill.red {
  background-color: var(--red1);
  color: var(--red);
}

.vue-app form.summary {
  margin: 30px 0 0;
  padding: 8px;
  background-color: var(--grey4);
  border-radius: 0 0 8px 8px;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.vue-app form.summary > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.vue-app form.summary i.icon {
  margin: 0 4px 0 8px;
}

.vue-app form.summary input.form-control {
  background-color: var(--grey2);
}

.vue-app form.summary input[name="wooco_people"] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.vue-app form.summary input.datepicker {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  padding: 0.375rem 0.75rem;
}

.vue-app form.summary .spacer {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
}

.vue-app form.summary .total {
  color: var(--grey5);
}

.vue-app form.summary .total b {
  color: var(--grey8);
}

.vue-app form.summary button {
  padding: 2px 16px;
}

.vue-app svg {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.vue-app svg .primary {
  fill: var(--grey4);
}

.vue-app svg .secondary {
  fill: var(--grey7);
}

.vue-app svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.vue-app svg:hover .secondary {
  fill: var(--brand);
}

.slide-in-enter-active,
.slide-in-leave-active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slide-in-enter, .slide-in-leave-to {
  opacity: 0;
  -webkit-transform: scaleY(0.2);
          transform: scaleY(0.2);
}
/*# sourceMappingURL=style.css.map */