.vue-app {
  margin: 10px auto 50px;
}

.vue-app #wpData {
  display: none;
}

.vue-app button {
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 10px;
  font-size: 18px;
}

.vue-app button.only-icon {
  margin: 0 1px;
  background-color: transparent;
  padding: 0;
}

.vue-app button.cta {
  background-color: var(--brand);
}

.vue-app button:disabled {
  background-color: var(--grey2);
}

.vue-app .circle {
  display: inline-block;
  padding: 6px 10px;
  background-color: var(--grey3);
  border-radius: 50%;
  margin-left: 6px;
}

.vue-app .pricing-switcher {
  color: var(--grey7);
  text-align: center;
}

.vue-app .pricing-switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 8px;
  border-radius: 50em;
  background-color: var(--grey3);
}

.vue-app .pricing-switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.vue-app .pricing-switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  float: left;
  width: 100px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  color: var(--grey8);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.vue-app .pricing-switcher label.active {
  color: var(--grey3);
}

.vue-app .pricing-switcher .switch {
  /* floating background */
  position: absolute;
  top: 8px;
  left: 8px;
  height: 45px;
  width: 100px;
  background-color: var(--grey7);
  border-radius: 50em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.vue-app .pricing-switcher .switch.move {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.vue-app .meal-section .section-title {
  color: var(--grey5);
  margin-top: 25px;
  padding-left: 10px;
}

.vue-app .meal-section .section-details {
  margin: 10px auto;
  width: 100%;
  min-height: 50px;
  background-color: var(--grey1);
  -webkit-box-shadow: var(--shaddow);
          box-shadow: var(--shaddow);
  border-top: 2px solid var(--grey5);
}

.vue-app .food-component {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
  border-bottom: 5px solid var(--grey3);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.vue-app .food-component .component-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  min-width: 160px;
  margin-right: 16px;
}

.vue-app .food-component .component-title h5 {
  margin-bottom: 6px;
}

.vue-app .food-component .component-title .component-desc {
  color: var(--grey5);
  margin: 0;
  line-height: 1;
}

.vue-app .food-component .component-details {
  -webkit-box-flex: 4;
      -ms-flex: 4 1;
          flex: 4 1;
  margin-right: 16px;
}

.vue-app .food-component .component-pills {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.vue-app .food-line {
  margin: 6px 0;
}

.vue-app .dropdown-wrapper {
  position: relative;
}

.vue-app .dropdown-wrapper .dropdown {
  display: inline-block;
  background-color: var(--grey3);
  border: 1px solid transparent;
  border-radius: 8px;
  width: 220px;
  padding: 4px 10px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.vue-app .dropdown-wrapper .dropdown:hover {
  border-color: var(--brand2);
}

.vue-app .dropdown-wrapper .dropdown .arrow-down-icon {
  color: var(--brand);
  float: right;
}

.vue-app .dropdown-wrapper .dropdown-options {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 220px;
  position: absolute;
  z-index: 100;
  background-color: var(--grey3);
  padding: 2px 5px;
  border-radius: 12px;
  -webkit-box-shadow: var(--shaddow);
          box-shadow: var(--shaddow);
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 0;
  padding: 4px 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--grey1);
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item:hover {
  background-color: var(--grey2);
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item:active {
  color: inherit;
}

.vue-app .dropdown-wrapper .dropdown-options .dropdown-item img {
  width: 70px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  margin-left: -16px;
}

.vue-app .pill {
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 4px;
  margin: 8px 5px 5px 0;
  white-space: nowrap;
  float: right;
}

.vue-app .pill.green {
  background-color: var(--green1);
  color: var(--green5);
}

.vue-app .pill.red {
  background-color: var(--red1);
  color: var(--red);
}

.vue-app .summary {
  margin: 30px 0;
  padding: 8px;
  border-top: 2px solid var(--grey3);
  border-bottom: 2px solid var(--grey3);
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vue-app .summary .spacer {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
}

.vue-app .summary .total {
  color: var(--grey5);
}

.vue-app .summary .total b {
  color: var(--grey8);
}

.vue-app .summary button {
  padding: 2px 16px;
}

.slide-in-enter-active,
.slide-in-leave-active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slide-in-enter, .slide-in-leave-to {
  opacity: 0;
  -webkit-transform: scaleY(0.2);
          transform: scaleY(0.2);
}
/*# sourceMappingURL=style.css.map */