.vue-app {
  margin: 0 auto;

  #wpData {
    display: none;
  }

  .package-wrapper {
    margin: 0 auto 60px;
    // box-shadow: var(--shaddow);
    background-color: var(--grey2);
    border-radius: 8px;
    position: relative;

    img.package-image,
    .wp-post-image {
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: center;
      border-radius: 8px 8px 0 0;
    }

    .pill.stock-alert {
      position: absolute;
      top: 2px;
      right: 5px;

      display: flex;
      align-items: center;
      .icon {
        height: 1.2em;
        padding-left: 0;
        padding-right: 8px;
        .primary {
          fill: var(--red5);
        }
        .secondary {
          fill: var(--red1);
        }
      }
    }

    .package-info {
      text-align: center;
      .package-title {
        margin: 0 auto 10px;
        &.move-up {
          margin: -25px auto 10px;
        }
        span {
          display: inline-block;
          padding: 0px 20px 11px;
          border-radius: 8px;
          background-color: var(--grey2);
          line-height: 0.8;
          font-size: 4rem;
        }
      }
    }
  }

  button {
    outline: 0;
    transition: all 0.3s ease;
    margin: 0 10px;
    font-size: 18px;
    &.only-icon {
      margin: 0 1px;
      background-color: transparent !important;
      padding: 0;
    }
    &.cta {
      background-color: var(--brand);
    }
    &:disabled {
      background-color: var(--grey2);
    }
  }
  .circle {
    display: inline-block;
    padding: 6px 10px;
    background-color: var(--grey3);
    border-radius: 50%;
    margin-left: 6px;
  }

  // pricing-switcher =======================================
  .pricing-switcher {
    color: var(--grey7);

    $bg-padding: 5px;
    $button-width: 100px;
    $button-height: 35px;
    $animation-time: 0.3s;

    text-align: center;

    .fieldset {
      display: inline-block;
      position: relative;
      padding: $bg-padding;
      border-radius: 50em;
      background-color: white;
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }

    label {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 0;
      float: left;
      width: $button-width;
      height: $button-height;
      line-height: $button-height;
      cursor: pointer;
      color: var(--grey8);
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      transition-delay: 0.1s;
      transition: color $animation-time ease;
      &.active {
        color: var(--grey3);
        // font-weight: 700;
      }
    }

    .switch {
      /* floating background */
      position: absolute;
      top: $bg-padding;
      left: $bg-padding;
      height: $button-height;
      width: $button-width;
      background-color: var(--brand);
      border-radius: 50em;
      transition: all $animation-time;
      &.move {
        transform: translateX($button-width);
      }
    }
  }

  h4.top-summary {
    text-align: center;
    margin: 25px auto;
    font-family: jubilat, lato, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    .total {
      float: none;
    }
  }

  // meal-section ==================================================
  .meal-section {
    margin-top: 25px;
    .section-title {
      color: var(--grey7);
      padding-left: 20px;
      font-family: jubilat;
      font-weight: 100;
      margin: 0;
    }
    .section-details {
      margin: 6px auto 20px;
      width: 100%;
      min-height: 50px;
      background-color: var(--grey1);
      border-bottom: 2px solid var(--grey3);
      border-top: 2px solid var(--grey5);
      .empty {
        color: var(--grey4);
        padding: 15px 0;
        text-align: center;
      }
    }
  }

  // food-component =================================================
  .food-component {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-bottom: 2px solid var(--grey3);
    transition: all 0.3s ease-in;
    .component-title {
      flex: 1 0;
      min-width: 160px;
      margin-right: 16px;
      h5 {
        margin-bottom: 6px;
      }
      .component-desc {
        color: var(--grey5);
        margin: 0;
        line-height: 1;
      }
    }
    .component-details {
      flex: 4 1;
      margin-right: 16px;
    }
    .component-pills {
      flex: 1 1;
    }
  }

  .food-line {
    margin: 6px 0;
  }

  // food-dropdown ===================================================
  .dropdown-wrapper {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    user-select: none;
    .dropdown {
      display: inline-block;
      background-color: var(--grey3);
      border: 1px solid transparent;
      border-radius: 8px;
      width: 220px;
      padding: 4px 20px 4px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in;
      &:hover {
        border-color: var(--brand2);
      }
      .arrow-down-icon {
        color: var(--brand);
        position: absolute;
        right: 3px;
        top: 3px;
      }
      &.noSelection {
        color: var(--grey5);
        background-color: var(--grey1);
      }
    }

    input.qty {
      height: 34px;
      flex: 0 1 45px;
      margin-right: 6px;
      padding: 2px 4px;
      border-color: var(--grey4);
    }

    .dropdown-options {
      transform-origin: top center;
      width: fit-content;
      min-width: 220px;
      position: absolute;
      top: 35px;
      z-index: 100;
      background-color: var(--grey3);
      padding: 0 4px;
      border-radius: 12px;
      box-shadow: var(--shaddow-hover);
      // dropdown-item ===============================================
      .dropdown-item {
        display: flex;
        align-items: center;
        margin: 4px 0;
        padding: 0;
        border-radius: 8px;
        cursor: pointer;
        background-color: var(--grey1);
        width: auto;
        user-select: none;
        overflow: hidden;
        &:hover {
          background-color: var(--grey2);
        }
        &:active {
          color: inherit;
        }
        img {
          width: 60px;
          float: left;
          margin-right: 6px;
        }
        .info {
          padding: 5px 10px;
          h5,
          p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
          }
        }
      }
    }
  }

  // pill ====================================================
  .pill {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 4px;
    margin: 8px 5px 5px 0;
    white-space: nowrap;
    float: right;
    text-decoration: none;
    &.green {
      background-color: var(--green1);
      color: var(--green5);
    }
    &.red {
      background-color: var(--red1);
      color: var(--red);
    }
  }

  form.summary {
    margin: 30px 0 0;
    padding: 8px;
    background-color: var(--grey4);
    border-radius: 0 0 8px 8px;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
    & > div {
      display: flex;
      align-items: center;
      margin: 5px 0;
    }
    i.icon {
      margin: 0 4px 0 8px;
    }
    input.form-control {
      background-color: var(--grey2);
    }
    input[name="wooco_people"] {
      flex: 0 0 60px;
    }
    input.datepicker {
      flex: 0 0 120px;
      padding: 0.375rem 0.75rem;
    }
    .spacer {
      flex: 2 1;
    }
    .total {
      color: var(--grey5);
      b {
        color: var(--grey8);
      }
    }
    button {
      padding: 2px 16px;
    }
  }

  // svg icons ====================================================
  svg {
    transition: all 0.25s ease-in;
    .primary {
      fill: var(--grey4);
    }
    .secondary {
      fill: var(--grey7);
    }
    &:hover {
      transform: scale(1.2);
      .secondary {
        fill: var(--brand);
      }
    }
  }
}

// transitions ===========================================
.slide-in-enter-active,
.slide-in-leave-active {
  transition: all 0.3s;
}
.slide-in-enter, .slide-in-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scaleY(0.2);
}
